<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medico</h4>
        <h6 class="card-subtitle">Ingresar información</h6>
        <form class="form p-t-20" [formGroup]="formMedico">
          <div class="form-group" *ngIf="medico">
            <label for="exampleInputuname">Foto médico</label>
            <div class="input-group">
              <img
                width="200"
                height="200"
                [src]="medico.img | imagen: tablaColeccionMedicos"
                alt=""
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre médico"
                formControlName="nombre"
              />
            </div>
            <small
              class="text-form text-danger"
              *ngIf="validacionControl('nombre')"
              >campo es requerido</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Hospital</label>
            <div class="input-group">
              <select multiple class="form-control" formControlName="hospital">
                <option
                  *ngFor="let hospital of hospitales"
                  [value]="hospital._id"
                >
                  {{ hospital.nombre }}
                </option>
              </select>
            </div>
            <small
              class="text-form text-danger"
              *ngIf="validacionControl('hospital')"
              >campo es requerido</small
            >
          </div>
          <button
            type="button"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="formMedico.invalid"
            (click)="aceptarForm()"
          >
            Aceptar
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Hospitales</div>
        <div class="card-subtitle">
          Hospital asignados al médico ({{ hospitalesSeleccionados.length }})
        </div>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Hospital</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="animated fadeIn"
              *ngFor="let item of hospitalesSeleccionados"
            >
              <th scope="row">
                <img
                  width="30"
                  height="30"
                  [src]="item.img | imagen: tablaColeccionHospital"
                  [alt]="item.nombre"
                  [title]="item.nombre"
                />
              </th>
              <td>{{ item.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
