<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>
        <div
          class="alert alert-info"
          *ngIf="dataBusquedaTodo?.usuarios.length == 0"
        >
          <p class="mb-0">No hay usuarios con ese termino</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of dataBusquedaTodo?.usuarios">
                <td>
                  <img
                    width="50"
                    heigth="50"
                    [src]="usuario.img | imagen: tablaColeccionUsuarios"
                    [alt]="usuario.nombre"
                    [title]="usuario.nombre"
                  />
                </td>
                <td>{{ usuario.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Medicos</h3>
        <div
          class="alert alert-info"
          *ngIf="dataBusquedaTodo?.medicos.length == 0"
        >
          <p class="mb-0">No hay medicos con ese termino</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="cursor"
                *ngFor="let medico of dataBusquedaTodo?.medicos"
                (click)="buscarMedico(medico)"
              >
                <td>
                  <img
                    width="50"
                    heigth="50"
                    [src]="medico.img | imagen: tablaColeccionMedicos"
                    [alt]="medico.nombre"
                    [title]="medico.nombre"
                  />
                </td>
                <td>{{ medico.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>
        <div
          class="alert alert-info"
          *ngIf="dataBusquedaTodo?.hospitales.length == 0"
        >
          <p class="mb-0">No hay Hospitales con ese termino</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of dataBusquedaTodo?.hospitales">
                <td>
                  <img
                    width="50"
                    heigth="50"
                    [src]="hospital.img | imagen: tablaColeccionHospital"
                    [alt]="hospital.nombre"
                    [title]="hospital.nombre"
                  />
                </td>
                <td>{{ hospital.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
