<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Buscar usuario..."
          #txtHospital
          (keyup)="buscarHospital(txtHospital.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Buscando</h4>
      <i class="fa fa-spinner fa-spin fa-2x"></i>
      <p class="mb-0">espere...</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button class="btn btn-primary" (click)="showModalCrearHospital()">
            <i class="fa fa-hospital-o"></i> Crear hospital
          </button>
        </div>
        <h4 class="card-title">Hospitales ({{ hospitales.length }})</h4>
        <h6 class="card-subtitle">Hospitales registrados.</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td class="text-center">
                  <img
                    [src]="hospital.img | imagen: tablaColeccion"
                    alt="{{ hospital.nombre }}"
                    width="30"
                    height="30"
                    class="cursor"
                    (click)="abrirModal(hospital)"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    [id]="hospital._id"
                    [(ngModel)]="hospital.nombre"
                  />
                </td>
                <td class="text-nowrap text-center">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Guardar cambios"
                    class="cursor"
                    (click)="guardarUpdateHospital(hospital)"
                  >
                    <i class="fa fa-save text-inverse m-r-10"></i>
                  </a>
                  <a
                    data-toggle="tooltip"
                    data-original-title="Eliminar"
                    class="cursor"
                    (click)="eliminarHospital(hospital)"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary">Anterior</button>
        <button class="btn btn-secondary">Anterior</button>
      </div>
    </div>
  </div>
</div>
