/* You can add global styles to this file, and also import other style files */
#google-btn-signin {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-avatar {
  height: 200px;
  width: 200px;
}
.w100 {
  width: 100px;
}

.fondo-modal-imagen {
  background-color: rgba(0, 0, 0, 0.4);
  left: 0px;
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}

.oculto {
  display: none;
}

.cursor {
  cursor: pointer;
}
